<form>
  <div class="form-group">
    <label for="nome">Nome completo</label>
    <input name="nome" type="text" class="form-control" id="nome" placeholder="Insira o seu nome">
  </div>
  <div class="form-group">
    <label for="idade">Idade</label>
    <input name="idade" type="number" class="form-control" id="idade" placeholder="Insira a sua idade">
  </div>
  <div class="form-group">
    <label for="tamanho">Tamanho</label>
    <input name="tamanho" type="text" class="form-control" id="tamanho" placeholder="Insira a sua altura">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>